{% extends 'layout.html' %}
{% load static %}
{% block css_files%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css_files %}
{% block page_title %}
  Index
{% endblock page_title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
        <ul>
          {% for product in products %}
            <li>
              <a href="{% url 'product_details' product.slug %}">
                {{ product.product_name }} 
              </a>
            </li>
          {% endfor %}
        </ul> 
        
        <hr>
        <p>{{products_count}} adet ürün bulundu.</p>
        <p>{{price.price__avg}} TL ortalama fiyat hesaplandı.</p>
        <p>{{price.price__min}} TL en düşük fiyat hesaplandı.</p>
        <p>{{price.price__max}} TL en yüksek fiyat hesaplandı.</p>
    </div>
  </div>
</div>

{% endblock content %}

{% block js_files %}
      <script src="{% static 'js/script.js' %}"></script>
{% endblock  %}